In [58]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv('spam.csv', encoding = 'ISO-8859-1', usecols = [0,1])

In [60]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [61]:
df['v1'] = df.v1.map({'ham':0, 'spam':1})

In [62]:
df.shape

(5572, 2)

In [63]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [64]:
document = ['hello, how are you !','Congratulation', 'happy brithday to you', 'Please transfer the money']

In [65]:
from sklearn.feature_extraction.text import CountVectorizer

In [84]:
count_vector = CountVectorizer()

In [67]:
count_vector.fit(document)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [68]:
names = count_vector.get_feature_names()

In [69]:
names

['are',
 'brithday',
 'congratulation',
 'happy',
 'hello',
 'how',
 'money',
 'please',
 'the',
 'to',
 'transfer',
 'you']

In [70]:
doc_array = count_vector.transform(document).toarray()

In [71]:
doc_array

array([[1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0]])

In [72]:
frequency_matrix = pd.DataFrame(data = doc_array, columns = names )

In [73]:
frequency_matrix

,are,brithday,congratulation,happy,hello,how,money,please,the,to,transfer,you
0,1,0,0,0,1,1,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,0,1,0,1
3,0,0,0,0,0,0,1,1,1,0,1,0

In [74]:
from sklearn.model_selection import train_test_split

In [88]:
x_train, x_test, y_train, y_test = train_test_split(df['v2'], df['v1'], random_state = 1)

In [104]:
trainingdata = count_vector.transform(x_train)

In [105]:
testingdata = count_vector.transform(x_test)

In [106]:
from sklearn.naive_bayes import MultinomialNB

In [107]:
naive_bayes = MultinomialNB()

In [108]:
naive_bayes.fit(trainingdata, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [109]:
new_word = ['Hello, good morning sir!']
new_data = count_vector.transform(new_word)

In [110]:
prediction = naive_bayes.predict(testingdata)

In [111]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [112]:
acc = accuracy_score(y_test, prediction)

In [113]:
acc

0.9856424982053122

In [114]:
prediction

array([0, 0, 0, ..., 0, 0, 0])